@import 'animated.css';
@import 'spinner.css';
@import 'fonts.css';
@import 'header.css';
@import 'content.css';
@import 'footer.css';

html,
body,
#__next,
#home {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 30px;
}

::-webkit-scrollbar {
  display: none;
}

#article-content {
  width: 80%;
}

/* @media screen and (max-width: 980px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 981px) {
  html {
    font-size: 20px;
  }
} */
